In [1]:
# Algebra Linear
import \
    numpy as np  # IMPORTANDO A BIBLIOTECA NUMPY, QUE ESTÁ RELACIONADA AQUI À ALGEBRA LINEAR (Numpy: Python Numérico, está relacionada à realização de operações em arrays multidimensionais, denominado de ndarray na biblioteca)

In [2]:
# Processamento/manipulação dos dados
import \
    pandas as pd  # IMPORTANDO A BIBLIOTECA PANDAS, QUE ESTÁ RELACIONADA AQUI AO PROCESSAMENTO E MANIPULAÇÃO DOS DADOS

In [3]:
# Visualização dos dados
import \
    seaborn as sns  # IMPORTANDO A BIBLIOTECA SEABORN, QUE ESTÁ RELACIONADA AQUI A VISUALIZAÇÃO DOS DADOS (Seaborn: É uma biblioteca do Python usada para traçar gráficos com a ajuda de Matplotlib, Pandas e Numpy -OUTRAS BIBLIOTECAS- ela foi construída "baseada" na Matplotlib e é considerada um superconjunto da biblioteca Matplotlib -AJUDA NA VISUALIZAÇÃO DE DADOS UNIVARIADOS E BIVARIADOS-)

# %matplotlib inline # # ESSE COMANDO É UTILIZADO AQUI, ESPECIFICAMENTE PARA A BIBLIOTECA MATPLOTLIB (Matplotlib: Biblioteca para visualização de dados em Python. Apresenta uma API orientada a objetos que permite a criação de gráficos em 2D de uma forma simples e com poucos comandos) SERVE PARA PLOTAR (DESENHAR) OS GRÁFICOS ESTÁTICOS LOGO ABAIXO DA CÉLULA (Existem outras configurações do %matplotlib que podem mostrar os gráficos em outras abas ou gráficos dinâmicos)

from matplotlib import \
    pyplot as plt  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA MATPLOTLIB, O PYPLOT (É um conjunto de funções que está disponível na biblioteca matplotlib, o pyplot permite que você crie uma figura, uma área para exibir o gráfico na figura, desenhe linhas na área do gráfico, decore o gráfico com rotulos e entre outras coisas """ CADA FUNÇÃO DO PYPLOT MUDA ALGUMA COISA NA FIGURA """)

from matplotlib import \
    style  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA MATPLOTLIB, O CONJUNTO DE FUNÇÕES STYLE (É um conjunto de funções que está relacionado a adição de estilos ao gráfico / apresentação de dados) """ PODEMOS TRAZER AQUI TAMBÉM O plt.style.use() DEPOIS DA CLAUSULA DE IMPORTAÇÃO -plt só é necessario caso não esteja utilizando o from- """

In [4]:
# Algoritimos Machine Learning
from sklearn import linear_model  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA SCIKIT-LEARN O CONJUNTO DE FUNÇÕES linear_model

from sklearn.linear_model import \
    LogisticRegression  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA SCIKIT-LEARN E DO CONJUNTO DE FUNÇÕES linear_model, A FUNÇÃO ASSOCIADA À LINEAR MODEL, LogisticRegression (É uma função denominada "Classificador de regressão logistica", entendemos a regressão logistica como um modelo estatistico usado para determinar a probabilidade de um evento acontecer - mostra a relação entre os recursos e calcula a probabilidade de um determinado resultado -)

from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import \
    Perceptron  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA SCIKIT-LEARN E DO CONJUNTO DE FUNÇÕES linear_model, A FUNÇÃO ASSOCIADA À LINEAR MODEL, Perceptron (É um tipo de rede neural de classificação simples, ou seja, é  um algoritmo que torna possível separar elementos de grupos que tenham caracteristicas diferentes e com base nessa separação, prever a que grupo irá pertencer tal elemento, ou seja, é um algoritmo que faz a separação de elementos com caracteristicas diferentes e organiza eles em seus respectivos grupos) / SERÁ UTILIZADO PARA SEPARAR CADA ELEMENTO RELACIONADO AO TITANIC, TAIS COMO NOME, IDADE, SEXO E ENTRE OUTROS

from sklearn.linear_model import \
    SGDClassifier  # AQUI, ESTAMOS TRAZENDO DA BIBLIOTECA SCIKIT-LEARN E DO CONJUNTO DE FUNÇÕES linear_model, A FUNÇÃO ASSOCIADA A LINEAR MODEL SGDClassifier (É um classificador linear, que é uma das ferramentas mais simples que podem ser utilizadas para classificar as amostras de um conjunto de dados)

from sklearn.tree import \
    DecisionTreeClassifier  # AQUI ESTAMOS TRAZENDO DA BIBLIOTECA SCIKIT-LEARN E DO CONJUNTO DE FUNÇÕES tree (Tree : conhecida também como arvore de decisão, internamente é criada uma representação gráfica das alternativas disponíveis, igual a um fluxograma, com o objetivo de descobrir a classificação de uma nova entrada. De forma geral, uma  árvore de decisão é um algoritmo de machine learning largamente utilizado, possui uma estrutura de simples compreensão e que costuma apresentar bons resultados em suas previsões) A FUNÇÃO ASSOCIADA A TREE, DecisionTreeClassifier (Classificador de árvore de decisão : É entendido como o então classificador de uma árvore de decisão, será ele quem irá poder predizer os valores de determinados atributos de um conjunto de dados)

from sklearn.neighbors import KNeighborsClassifier

from sklearn.svm import SVC, LinearSVC

from sklearn.naive_bayes import \
    GaussianNB  # AQUI ESTAMOS IMPORTANDO A FUNÇÃO GAUSSIAN NB PARA PODER CRIAR O NOSSO ENTÃO CLASSIFICADOR, COM BASE NO CONJUNTO DE FUNÇÕES NAIVE BAYE

In [5]:
# OBTENDO OS DADOS :
train_df = pd.read_csv(
    'titanic_train.csv')  # AQUI ESTAMOS CRIANDO A VARIAVEL REFERENTE AO CONJUNTO DE TESTES, ASSOCIANDO ELA À BIBLIOTECA PANDAS, TRAZENDO A FUNÇÃO DE LEITURA DE ARQUIVO CSV (CSV : É um arquivo de texto com formato específico para possibilitar o salvamento dos dados em um formado estruturado de tabela), QUE AQUI SERÁ UM ARQUIVO DE TEXTO NOMEADO TEST

test_df = pd.read_csv(
    'titanic_test.csv')  # AQUI ESTAMOS  CRIANDO A VARIAVEL REFERENTE AO CONJUNTO DE TREINO, ASSOCIANDO ELA À BIBLIOTECA PANDAS, TRAZENDO A FUNÇÃO DE LEITURA DE ARQUIVO CSV

In [8]:
# REALIZANDO A EXPLORAÇÃO / ANÁLISE DOS DADOS :

train_df.info()  # AQUI NÓS ESTAMOS TRAZENDO A FUNÇÃO REFERENTE ÀS INFORMAÇÕES CONTIDAS NO CONJUNTO DE TREINAMENTO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  850 non-null    int64
 1   pclass        850 non-null    int64
 2   name          850 non-null    object
 3   sex           850 non-null    object
 4   age           676 non-null    float64
 5   sibsp         850 non-null    int64
 6   parch         850 non-null    int64
 7   ticket        850 non-null    object
 8   fare          849 non-null    float64
 9   cabin         191 non-null    object
 10  embarked      849 non-null    object
 11  boat          308 non-null    object
 12  body          73 non-null     float64
 13  home.dest     464 non-null    object
 14  survived      850 non-null    int64
dtypes: float64(3), int64(5), object(7)
memory usage: 99.7+ KB

In [9]:
# REALIZANDO A EXPLORAÇÃO / ANÁLISE DOS DADOS :

train_df.describe()     # AQUI NÓS ESTAMOS TRAZENDO A FUNÇÃO REFERENTE À DESCRIÇÃO DOS DADOS CONTIDOS NO CONJUNTO DE TREINAMENTO

,passenger_id,pclass,age,sibsp,parch,fare,body,survived
count,850.000000,850.00000,676.000000,850.000000,850.000000,849.000000,73.000000,850.000000
mean,662.816471,2.32000,29.519847,0.522353,0.382353,34.012701,165.821918,0.368235
std,380.751936,0.83853,14.562243,1.112132,0.879511,53.705779,99.068487,0.482610
min,1.000000,1.00000,0.166700,0.000000,0.000000,0.000000,4.000000,0.000000
25%,332.250000,2.00000,20.000000,0.000000,0.000000,7.895800,75.000000,0.000000
50%,676.500000,3.00000,28.000000,0.000000,0.000000,14.108300,166.000000,0.000000
75%,992.250000,3.00000,37.000000,1.000000,0.000000,31.000000,260.000000,1.000000
max,1307.000000,3.00000,80.000000,8.000000,9.000000,512.329200,328.000000,1.000000

In [10]:
# Com isso, será possível observar que 38% do conjunto de treinamento sobreviveu ao Titanic. Também é possível observar que a as idades dos passageiros variam de 0,4 a 80. Além disso, já podemos detectar alguns recursos que contêm valores ausentes, como o recurso "Age".

In [3]:
train_df.head(30)

NameError: name 'train_df' is not defined

In [14]:
total = train_df.isnull().sum().sort_values(ascending=False)
percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

           Total     %
body         777  91.4
cabin        659  77.5
boat         542  63.8
home.dest    386  45.4
age          174  20.5

In [16]:
train_df.columns.values

array(['passenger_id', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest',
       'survived'], dtype=object)